<!-- <h2>El parámetro que entró es {{id}} y </h2>
<h2 *ngIf="!bEdita"> No</h2> 
<h2>edita</h2> -->

<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="FormEquipo" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button
                      type="submit"
                      class="btn btn-success"
                      [disabled]="!FormEquipo.valid">
                      Guardar
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="onCancelarEdicion()">
                      Cancelar
                    </button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Provee">Proveedor</label>
                        <input type="text" class="form-control" id="Provee" formControlName = "Proveedor">

                        <label for="Categ">Categoría</label>
                        <input type="text" class="form-control" id="Categ" formControlName = "Categ">

                        <label for="Foto">Imágen</label>
                        <input type="text" 
                               class="form-control" 
                               id="Foto" 
                               formControlName = "Foto"
                               #imagen>

                    </div>
                </div>
                
                <div class="div">
                    <div class="col-xs-12">
                        <img [src]="imagen.value" class="img-responsive">
                    </div>
                </div>
                <div class="div">
                    <div class="col-xs-12">
                        <label for="Descrip">Descripción</label>
                        <textarea 
                          type="text" 
                          class="form-control" 
                          id="Descrip" 
                          rows="6"
                          formControlName = "Descripcion">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="Componentes">
                    <div 
                      class="row"
                      *ngFor="let ComponentesCtrl of controls; let i = index"
                      [formGroupName]="i"
                      style="margin-top: 10px;"
                      >
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="detalle">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName="cantidad">
                        </div>
                        <div class="col-xs-2">
                            <button 
                              class="btn btn-danger"
                              (click)="onBorrarComponenteDelEquipo(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button 
                              class="btn btn-success"
                              type="button"
                              (click)="onAgregarComponente()">
                              Agregar
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
    </form>
    </div>
</div>

